<h3>{{ _('Prusa chain Production') }}</h3>
<form id="settings_plugin_prusa_chain_production_form" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="settings_prusa_chain_production_server_url">Server URL</label>
    <div class="controls">
      <input id="settings_prusa_chain_production_server_url" type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.prusa_chain_production.server_url" />
    </div>
  </div>
</form>
