<div class="jog-panel" id="controls_prusa_chain_production">
  <h1>Ejector</h1>
  <div>
    <button class="btn btn-block control-box btn-danger" data-bind="click: onEject">Eject</button>
    <label>Fan</label>
    <div class="btn-group" role="group" aria-label="Fan">
      <button class="btn" data-parameter="true" data-bind="click: onSetFan">On</button>
      <button class="btn" data-parameter="false" data-bind="click: onSetFan">Off</button>
    </div>
    <label>LED</label>
    <div class="btn-group" role="group" aria-label="LED">
      <button class="btn" data-parameter="true" data-bind="click: onSetLed">On</button>
      <button class="btn" data-parameter="false" data-bind="click: onSetLed">Off</button>
    </div>
  </div>
</div>
