<div class="refresh-trigger accordion-heading-button btn-group">
    <a href="#" data-bind="click: fetchStatus" title="{{ _('Refresh ejector status')|edq }}">
        <i class="fas fa-sync"></i>
    </a>
</div>
